 {{>header}}
 <div class="container">
    <div class="row bg-light text-dark">
            <h1>{{movie.title}}</h1>
                <div class="col-md-8">
                    <img class="img-thumbnail" src="{{movie.imageUrl}}" alt="Movie">
                </div>
                <div class="col-md-4 text-center">
                    <h3 class="my-3 ">Movie Description</h3>
                    <p>{{movie.description}}</p>
                    {{#if isCreater}}
                    <a class="btn btn-danger" href="#/delete/{{movie.id}}">Delete</a>
                    <a class="btn btn-warning" href="#/edit/{{movie.id}}">Edit</a>
                    {{else}}
                    {{#if isLiked}}
                    <span class="enrolled-span">Liked {{likes}}</span>
                    {{else}}
                    <a class="btn btn-primary" href="#/like/{{movie.id}}">Like</a>
                    {{/if}}
                    {{/if}}
                </div>
    </div>
</div>
{{>footer}}